*
  box-sizing border-box

html, body
  height 100%
  width 100%

body
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300
  margin 0
  overflow hidden
  padding-bottom 25px
  position absolute

a
  text-decoration none

.chats
  height 100%

  padding-right 152px
  position relative

.online
  border-left 1px solid rgba(0, 0, 0, 0.25)
  height 100%
  width 150px
  padding-left 2px
  position absolute
  right 0
  top 0

ul
  height 100%
  list-style-type none
  margin 0
  padding 0
  overflow auto

form
  position absolute
  bottom 0
  width 100%
  padding-left 2px
  padding-right 50px

  button
    bottom 0
    position absolute
    right 0

  input
    width 100%
